<html>
    <head>
        <title>
            My HTML Page
        </title>
        <style>

        </style>
    </head>
    <body >
        <h1>This is a static webpage served by Node.js</h1>
        <h2>Created by Tejas Koli</h2>
        <h3>TI69</h3>
        <h3>WAD Assignment 3-a</h3>
        <h3>CC3 batch</h3>
    </body>
</html>